html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

.top-nav-collapse {
    background-color: transparent !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #020000 !important;
    }
}

.rgba-gradient {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
    background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
    color: #ffffff;
}

h6 {
    line-height: 1.7;
}

#navbar {
    background: rgba(0, 0, 0, 0.3);
}

#message {
    display: none;
    width: 100%;
    height: 10%;
    text-align: center;
}

#weak {
    display: inline-block;
    width: 15%;
    height: 0.5vh;
    background-color: #ff6961;
}

#medium {
    display: inline-block;
    width: 15%;
    height: 0.5vh;
    background-color: grey;
}

#strong {
    display: inline-block;
    width: 15%;
    height: 0.5vh;
    background-color: grey;
}